@import "../../bower_components/gridle/sass/gridle/gridle";

@include gridle_setup((
        context : 12,
        gutter-width : 0,
));

@include gridle_init();
@include gridle_register_default_mobile_first_states();

@mixin row_middle() {
  @include gridle_row_align(middle);
  > * {
    vertical-align: middle !important;
  }
}